[Unit]
Description=Water Feature Controller AWS IoT
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=smability
ExecStart=/usr/bin/python3 /home/smability/WaterFeature8/WFaws.py
WorkingDirectory=/home/smability/WaterFeature8
ExecStartPre=/bin/sleep 30

[Install]
WantedBy=multi-user.target
